<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
    function togglePasswordVisibility(passwordFieldId) {
        var passwordField = document.getElementById(passwordFieldId);
        if (passwordField.type === "password") {
            passwordField.type = "text"; // Change to text to show password
        } else {
            passwordField.type = "password"; // Change back to password to hide
        }
    }
    </script>
</head>
<body>
    <div class="signup-container">
        <h2>Sign Up Form</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" id="signupPassword" placeholder="Password" required><br>
            <input type="checkbox" onclick="togglePasswordVisibility('signupPassword')"> Show Password<br>
            <input type="submit" value="Sign Up">
        </form>
        <p>{{ message }}</p>
        <p><a href="{{ url_for('login') }}">Already have an account? Log in here!</a></p>
    </div>
</body>
</html>
